<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Contact</title>
	</head>
	<body>
		<header>
			<h1> Ruby On Rails </h1>
		</header>
		<p>site Controller</p>
		<p><strong>email:</strong> hectorleon.designer@gmail.com</p>
	</body>
</html>